* {
  margin:0;
  padding:0;
  list-style: none;
  outline: none;
  font-family: 'roboto' system-ui, -apple-system, BlinkMacSystemFont ;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  display: flex;
  position: absolute;
  left:50%;
  top:50%;
  width:750px;
  min-height: 530px;
  transform:translate(-50%,-50%) ;
  box-shadow: 1px 2px 20 px #f3f3f3;
  border-radius: 10px;
  border:1px solid #f1f1f1;
  font-size: 14px;
  &__sidebar{
    background-color: #f4f6f8;
    width: 200px;
    height: calc(100% - 120px);
    border-right:1px solid #f1f1f1;
    padding: 60px 20px;
  }
  &__tasks{
    flex: 1;
    padding:60px;
  }
}


.button{
  font-size: 14px;
  background-color: #4dd599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;

  &:hover{
    background-color: darken(#4dd599, 6%);
  }
  &:active{
    background-color: darken(#4dd599, 10%);
  }
  &--grey{
    background-color: #F4F6F8;
    color: #444444;
    &:hover {
      background-color: darken(#F4F6F8 , 3%)
    }
    &:active{
      background-color: darken(#F4F6F8 , 6%)
    }
  }
}
.field {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  width: 100%;
  &:focus{
    border-color: #dbdbdb;
  }
}